.Product-Table{
    width: 95%;
    min-height: 70%;
    border:3px solid green;
    border-radius: 15px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.name,
.priceT{
    font-weight: bold;
}